<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>
    <!-- top navigation bar container -->
    <div id="header">
      <!-- top navigation logo -->
      <h1>
        <a href="/">
          <i class="fa fa-camera-retro"></i> PhotoShare
        </a>
      </h1>
      <!-- top navigation list -->
      <nav id="topNav">
        <!-- sidenav button -->
        <div class="sideNavButton">&#9776;</div>
        <ul class="list-unstyled">
          {% if user %}
            <li>
              <a href="/">
                <button type="button" class="btn btn-sm btn-secondary">
                  <i class="fa fa-home" aria-hidden="true"></i> Home
                </button>
              </a>
            </li>
            <li>
              <a class="dashboard_link" href="/dashboard/{{ user._json.login }}">
                  <img src="{{ user._json.avatar_url }}" alt="{{ user._json.name }}" width="30" height="30" style="border-radius: 25px" style="display: inline-block;">
                  <span style="display: inline-block;">{{ user._json.name }}</span>
              </a>
            </li>
            <li>
              <a href="/logout">
                <button type="button" class="btn btn-sm btn-danger">
                  <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                </button>
              </a>
            </li>
          {% else %}
            <li>
              <a href="/">
                <button type="button" class="btn btn-sm btn-secondary">
                  <i class="fa fa-home" aria-hidden="true"></i> Home
                </button>
              </a>
            </li>
            <li>
              <a href="/auth/github">
                <button type="button" class="btn btn-sm btn-primary">
                  <i class="fa fa-github"></i> Login
                </button>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <!-- side navigation -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn">&times;</a>
      <a href="/">
        <i class="fa fa-home" aria-hidden="true"></i> Home
      </a>
      {% if user %}
        <li>
          <a href="/dashboard/{{ user._json.login }}">
              <img src="{{ user._json.avatar_url }}" alt="{{ user._json.name }}" width="30" height="30" style="border-radius: 25px" style="display: inline-block;">
              {{ user._json.name }}
          </a>
        </li>
        <li>
          <a href="/logout">
            <button type="button" class="btn btn-sm btn-danger">
              <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </button>
          </a>
        </li>
      {% else %}
        <li>
          <a href="/auth/github">
            <button type="button" class="btn btn-sm btn-primary">
              <i class="fa fa-github"></i> Login
            </button>
          </a>
        </li>
      {% endif %}
    </div>

    <!-- if error object has any messages -->
    {% if error.length > 0 %}
       <div class="flashMessage alert alert-danger" role="alert">{{ error }}</div>
    <!-- if success object has any messages -->
    {% elif success.length > 0 %}
       <div class="flashMessage alert alert-success" role="alert">{{ success }}</div>
    {% endif %}

    {% block content %}
    {% endblock %}
  </body>
</html>
