<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <script type="text/javascript" src="/scripts/client.js"></script>
    {% block header %}{% endblock %}
  </head>
  <body>
    <!-- top navigation bar container -->
    <div id="header">
      <!-- top navigation logo -->
      <h1>
        <a href="/">
          <i class="fa fa-camera-retro"></i> PhotoShare
        </a>
      </h1>
      <!-- top navigation list -->
      <nav id="topNav">
        <ul class="list-unstyled">
          {% if user %}
            <li>
              <img src="{{ user._json.avatar_url }}" alt="{{ user._json.name }}" width="30" height="30" style="border-radius: 25px" style="display: inline-block;">
              <span style="display: inline-block;">{{ user._json.login }}</span>
            </li>
            <li>
              <a href="/logout">
                <button type="button" class="btn btn-sm btn-danger">
                  <i class="fa fa-sign-out-alt"></i> Logout
                </button>
              </a>
            </li>
          {% else %}
            <li>
              <a href="/auth/github">
                <button type="button" class="btn btn-sm btn-primary">
                  <i class="fa fa-github"></i> Login
                </button>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    {% block content %}
    {% endblock %}
  </body>
</html>
